services:
  angular:
    build:
      context: .               # <-- Corrigido
      dockerfile: dockerfile.dev
    container_name: angular_app
    ports:
      - "4200:4200"
    volumes:
      - .:/app
      - /app/node_modules
    environment:
      - CHOKIDAR_USEPOLLING=true